body {
    margin: 0;
    padding: 0;
    color: #ddfbdd;
    background-color: #0f400f;
    font-family: monospace;
}

h1 {
    text-align: center;
}

.fancy-tooltip {
    position: relative;
}

.fancy-tooltip__content {
    position: absolute;
    background-color: #701a70;
    padding: 10px;
    z-index: 10;
}
