body {
    margin: 50px;
    padding: 0;
    color: #0f400f;
    background-color: #e3f5e3;
    font-family: monospace;
}

h1 {
    text-align: center;
}

.highlight {
    font-weight: bold;
    text-decoration: overline; /* overrides ::slotted() styles in tooltip.js */
}

fancy-tooltip {
    background: #f5e3f5;
}
